<h1>GET Request Received</h1>
<table style="border: 1px solid black;">
    <tbody>
        {{#each dataList}}
          <tr><td style="border: 1px solid black;">{{this.name}}<td style="border: 1px solid black;">{{this.value}}
        {{/each}}
    </tbody>
</table>